<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
</head>
<body>
    <h1>Por favor preencha o formulário</h1>
    <form action="/confirmarcontato" method="GET">
        <input type="text" name="name" id="">
        <input type="email" name="email" id="">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>